 /* body, html {
        
    height: 100%;
    text-align:center;
    background-color: aliceblue;
}  */

table {
    /*color: black;*/
    background-color: aliceblue;
    width: 700px;
    
}

button {

    padding: 8px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

h1   {
    color: black;
    font-family: arial;
    font-size: 100%;
    text-align: center;

}
h2   {
    color: orange;
    text-align: left;
    font-family: arial;
    font-size: 150%;
    text-align: center;

}
h3   {
    color: orange;
    text-align: center;
    font-family: arial;
    font-size: 150%;
    text-align: center;

}
.center{
    text-align: center;
    
}